.description {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExeDZleXl1YzIwdW41anc0ZXhuMGhnYTU4eDZwZjA1Mjd1eDJzZ2FseiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/2YsfcgrlTpNHbLDjYo/giphy.gif);
    padding: 20px;
    color: rgb(255, 254, 254);
  }
  
  .section {
    margin-top: 20px;
  }
  
  .section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(30, 219, 144);
  }
  
  .section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: rgb(247, 6, 247);
  }
  