.product-list-container {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 48px;
}

.product-header-container {
    margin-top: 28px;
    justify-content: end;
    align-items: end;
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    padding-left: 150px;
    justify-content: space-between;
}